POSTGRES_PORT=5432
POSTGRES_USER=banking
POSTGRES_PASSWORD=banking_dev_password
POSTGRES_DB=basic_banking

RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=banking
RABBITMQ_DEFAULT_PASS=banking_dev_password
